.light-theme {
  --primary: #f31260;
  --primary-hover: #bd3038;
  --primary-active: #811628;

  --secondary: #fff;
  --secondary-hover: #e0e0e0;
  --secondary-active: #d8d8d8;

  --background: #f0f0f0;
  --color: #272727;
  --color2: #616161;
  --glass-color: rgba(255, 255, 255, 0.473);

  --info: #005FCC;
  --warning: #D1AE00;
  --success: #17c964;
  --error: #f31260;
}

.dark-theme {
  --primary: #811628;
  --primary-hover: #691221;
  --primary-active: #4b0e19;

  --secondary: #313131;
  --secondary-hover: #202020;
  --secondary-active: #111111;

  --background: #171717;
  --color: #fff;
  --color2: #bebebe;
  --glass-color: rgba(0, 0, 0, 0.473);

  --info: #005FCC;
  --warning: #D1AE00;
  --success: #17c964;
  --error: #f31260;
}

article {
  background-color: var(--background);
  color: var(--color);
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  border: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-weight: 300;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 70px;
}

section {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin: 20px 5px 10px 5px;
}

hr {
  border-bottom: 0.3px solid #f3126159;
}

small {
  color: gray;
}

.img_profile_view {
  border-radius: 50%;
  object-fit: cover;
  height: 32px;
  width: 32px;
}

.flex_col,
.flex_row,
.wrap,
.justify_end,
.justify_center,
.justify_start,
.justify_between,
.items_center {
  display: flex;
}

.items_center {
  align-items: center;
}

.flex_row {
  flex-direction: row;
}

.flex_col {
  flex-direction: column;
}

.justify_end {
  justify-content: end;
}

.justify_start {
  justify-content: start;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.icon_button {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  font-size: 16px;
}

.icon_button:hover {
  background-color: var(--secondary-hover);
}

.icon_button:active {
  background-color: var(--secondary-active);
}

.button_primary,
.button_secondary {
  font-size: 16px;
  padding: 10px;
  margin: 1px;
  border-radius: 8px;
  border: 2px solid var(--primary);
}

.button_primary {
  background-color: var(--primary);
  color: #fff;
}

.button_primary:hover {
  background-color: var(--primary-hover);
}

.button_primary:active {
  background-color: var(--primary-active);
}

.button_secondary {
  background-color: var(--secondary);
}

.button_secondary:hover {
  background-color: var(--secondary-hover);
}

.button_secondary:active {
  background-color: var(--secondary-active);
}

.rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
}

.bg_success {
  background-color: var(--success);
}

.bg_warning {
  background-color: var(--warning);
}

.bg_error {
  background-color: var(--error);
}

.bg_info {
  background-color: var(--info);
}

.color_success {
  color: var(--success);
}

.color_warning {
  color: var(--warning);
}

.color_error {
  color: var(--error);
}

.color_info {
  color: var(--info);
}

textarea{
  border-bottom: 1px solid var(--primary);
  padding: 5px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.048);
}

/* width */
/* ::-webkit-scrollbar {
  width: 15px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #686868;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #303030;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #bd3038;
} */